.paged {
    display: grid;

    grid-template-rows: 50px 10fr fit-content(50px);
    grid-template-areas: 
    "tag tag tag"
    "movies movies movies"
    "next next next"
    ;
    
    grid-column: 1/-1;
}

.paged-text {
    grid-area: tag;
    height: fit-content;
    display: grid;
    align-self: start;
    justify-self: center;
}

.paged-text-actual {
    color: #444;
    font-weight: 100;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.next {
    grid-area: next;
}