@font-face {
    font-family: Avant;
    src: url('/personal-api-react/assets/fonts/avant.ttf');
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(250px,1fr) minmax(400px,10fr);
    grid-template-rows: 1fr 11fr 0fr;
    grid-template-areas: 
    "navigation navigation navigation"
    "categories movies movies";
    color: #444;
    font-family: Avant , Arial, Helvetica, sans-serif;
    overflow-x: scroll;
}

@media screen and (max-width: 900px) ,screen and (max-height: 900px){
   .container {
        grid-template-columns: minmax(250px,2fr) minmax(400px,10fr);
        grid-template-rows: 1fr 1fr 11fr 0fr;
       grid-template-areas: 
       "navigation navigation navigation"
       "category-sm category-sm category-sm"
       "movies movies movies";
   }

   .categories {
     display: none;
    }

    .categories-sm {
        display: block;
    }
}