.mi {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.mi-container {
    display: grid;
    padding: 20px;
    grid-area: actual;
    grid-template-columns: minmax(200px,1fr) minmax(300px,11fr);
    grid-template-rows: 200px fit-content(200px) fit-content(600px);
    width:80vw;
    height: 100%;
}

.movie-logo {
  
}

.video {
    grid-column: 1/-1;
}

.properties {

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 10px;
}

.movie-description {
    grid-column: 1/-1;
    padding: 10px;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 1.1px;
    line-height: 1.2;
}

.genre {
    color: dodgerblue;
    letter-spacing: 1.2px;
    margin-left: 5px;
}

.genre:nth-child(odd){
    color: darkgreen;
}

.genre:nth-child(even){
    color: darkred;
}


.movie-tag {
    font-size: 16px;
    letter-spacing: 1.2px;
    padding: 0px 10px 0px 10px;
    line-height: 1.4;
}

.movie-title {
    font-weight: bolder;
}
