.movies {
    display: grid;
    grid-auto-rows: 250px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 10px;
    grid-area: movies;
    height: 100%;
    background: #ccc;
}

/* .movie-item:nth-child(even){
    clip-path: polygon(4% 0, 96% 0, 100% 100%, 0% 100%);
}

.movie-item:nth-child(odd){
    clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);

} */

.movie-item {
    width: 200px;
    height: 100%;
    background: #222;
    margin: 10px;
}
.avatar {

    background-size: center;
    background-repeat: no-repeat;
    width: 200px;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 80%;
    background: transparent;
}

.description {

    display: none;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.avatar:hover p{

    display: block;
    color: white;
}

.avatar:hover {
    background: rgba(255,69,0,0.8);
}

.name {

    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.6);
    font-size: 13px;
    width: 200px;
    height: 20%;
    letter-spacing: 1.1px;
    text-align: center;
    color: white;
}