.categories {
    grid-area: categories;
    height: 100%;
    background: #eee;
}

.categories-sm {
    display: none;
    grid-area: category-sm;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    height: 100%;
    
}

.select-option {
    background: gray;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select {
    width: 100%;
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #eee;
    outline: none;
    border: none;
    transition: 0.1s ease-in;
}

.csm-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.csm-list-actual {
    padding: 10px 10px 10px 10px;
    color: #333;
    border: 1px solid gray;
    font-weight: 100;
    margin: 2px;
}

.csm-list-actual:hover{
    background: orangered;
    color: #fff;
}



.cat-tag,.next-tag {
    margin: 0;
    padding: 0;
}

.next-tag {
    font-weight: bolder;
    color: #eee;
    transform: scale(1.3);
}

.select:hover {
    background: #ff7675;
    color: #fff;
   
}


@media screen and (max-width: 576px){
    
   
    .categories-sm {
        display: none !important;
    }
}

@media screen and (max-width: 600px){
   
}


